.container {
    display: flex;   
}
nav, footer {
    height: 10vh;
}

main, aside {
    height: 100%;
}
#img1 {
    width: 100px;
    height: auto;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 253, 253);
    height: 80vh;
    width: 28vw;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
}

main {
    display: flex;
    flex-direction: column; 
    width: 50vw;
    padding: 200px;
    align-items: center;
}
footer {
    display: flex;
    min-width: 100px;
    justify-content: space-around;
    padding: 50px;
    background-color: rgb(29, 46, 58);
    height: 15px;
    color: white;
}

h1 {
    font-size: 60px;
}
.registration {
    width: 400px;
    height: 30px;
    border-radius: 2px;
}

button {
    margin-top: 15px;
    background-color: rgb(78, 54, 212);
    border: 0;
    color: white;
}
ul {
    list-style: none;
    color: rgb(71, 140, 143);
}

li {
    padding: 8px;
}

#img2 {
    width: 7%;
}

p {
    width: 410px;
    text-align: center;
    font-size: 12px;
    color: rgb(71, 140, 143);
}

#logo {
    margin-left: 100px;
    margin-top: 10px;
}

.loghi {
    width: 28px;
}

.loghi2 {
    width: 100px;
}