.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header, footer {
    height: 10vh;
}

header {
    position: absolute;
}

.image1 {
    margin: 20px;
    padding-left: 100px;
}

.image2 {
    width: 100px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    width: 600px;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 232, 233);
    justify-content: flex-end;
    height: 80vh;
    align-items: center;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 56px;
    height: 20px;
    background-color: rgb(29, 48, 58);
}

body {
    margin: 0;
}

input {
    height: 5vh;
    width: 35vw;
    border: solid 3px grey;
    margin-bottom: 15px;
  }

button{
    width: 500px;
    height: 40px;
    margin: 10px;
    background-color: #786efe ;
    color: white;
    border: none;
    border-radius: 5px;
}

h1 {
    font-size: 50px;
}

p {
    width: 410px;
    text-align: center;
    font-size: 15px;
    color: rgb(71, 140, 143);
}

ul {
    list-style: none;
    color: rgb(71, 140, 143);
}

li {
    padding: 8px;
}
